@charset "UTF-8";

@font-face {
  font-family: "finance-solid";
  src:url("fonts/finance-solid.eot");
  src:url("fonts/finance-solid.eot?#iefix") format("embedded-opentype"),
    url("fonts/finance-solid.woff") format("woff"),
    url("fonts/finance-solid.ttf") format("truetype"),
    url("fonts/finance-solid.svg#finance-solid") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "finance-solid" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs {
  display: inline-block;
  font: normal normal normal 14px/1 "finance-solid";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "finance-solid" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001:before {
  content: "a";
}
.icon-014:before {
  content: "b";
}
.icon-027:before {
  content: "c";
}
.icon-040:before {
  content: "d";
}
.icon-053:before {
  content: "e";
}
.icon-054:before {
  content: "f";
}
.icon-041:before {
  content: "g";
}
.icon-028:before {
  content: "h";
}
.icon-015:before {
  content: "i";
}
.icon-002:before {
  content: "j";
}
.icon-003:before {
  content: "k";
}
.icon-016:before {
  content: "l";
}
.icon-029:before {
  content: "m";
}
.icon-042:before {
  content: "n";
}
.icon-055:before {
  content: "o";
}
.icon-056:before {
  content: "p";
}
.icon-043:before {
  content: "q";
}
.icon-030:before {
  content: "r";
}
.icon-017:before {
  content: "s";
}
.icon-004:before {
  content: "t";
}
.icon-005:before {
  content: "u";
}
.icon-031:before {
  content: "v";
}
.icon-018:before {
  content: "w";
}
.icon-019:before {
  content: "x";
}
.icon-006:before {
  content: "y";
}
.icon-007:before {
  content: "z";
}
.icon-020:before {
  content: "A";
}
.icon-021:before {
  content: "B";
}
.icon-008:before {
  content: "C";
}
.icon-009:before {
  content: "D";
}
.icon-022:before {
  content: "E";
}
.icon-023:before {
  content: "F";
}
.icon-010:before {
  content: "G";
}
.icon-012:before {
  content: "H";
}
.icon-024:before {
  content: "I";
}
.icon-011:before {
  content: "J";
}
.icon-025:before {
  content: "K";
}
.icon-026:before {
  content: "L";
}
.icon-013:before {
  content: "M";
}
.icon-039:before {
  content: "N";
}
.icon-052:before {
  content: "O";
}
.icon-065:before {
  content: "P";
}
.icon-078:before {
  content: "Q";
}
.icon-077:before {
  content: "R";
}
.icon-064:before {
  content: "S";
}
.icon-051:before {
  content: "T";
}
.icon-038:before {
  content: "U";
}
.icon-037:before {
  content: "V";
}
.icon-050:before {
  content: "W";
}
.icon-063:before {
  content: "X";
}
.icon-076:before {
  content: "Y";
}
.icon-075:before {
  content: "Z";
}
.icon-062:before {
  content: "0";
}
.icon-049:before {
  content: "1";
}
.icon-036:before {
  content: "2";
}
.icon-035:before {
  content: "3";
}
.icon-048:before {
  content: "4";
}
.icon-061:before {
  content: "5";
}
.icon-074:before {
  content: "6";
}
.icon-073:before {
  content: "7";
}
.icon-060:before {
  content: "8";
}
.icon-047:before {
  content: "9";
}
.icon-034:before {
  content: "!";
}
.icon-033:before {
  content: "\"";
}
.icon-046:before {
  content: "#";
}
.icon-059:before {
  content: "$";
}
.icon-072:before {
  content: "%";
}
.icon-071:before {
  content: "&";
}
.icon-058:before {
  content: "'";
}
.icon-045:before {
  content: "(";
}
.icon-032:before {
  content: ")";
}
.icon-044:before {
  content: "*";
}
.icon-057:before {
  content: "+";
}
.icon-070:before {
  content: ",";
}
.icon-069:before {
  content: "-";
}
.icon-068:before {
  content: ".";
}
.icon-067:before {
  content: "/";
}
.icon-066:before {
  content: ":";
}
.icon-079:before {
  content: ";";
}
.icon-092:before {
  content: "<";
}
.icon-105:before {
  content: "=";
}
.icon-118:before {
  content: ">";
}
.icon-131:before {
  content: "?";
}
.icon-144:before {
  content: "@";
}
.icon-145:before {
  content: "[";
}
.icon-132:before {
  content: "]";
}
.icon-119:before {
  content: "^";
}
.icon-106:before {
  content: "_";
}
.icon-093:before {
  content: "`";
}
.icon-080:before {
  content: "{";
}
.icon-081:before {
  content: "|";
}
.icon-094:before {
  content: "}";
}
.icon-107:before {
  content: "~";
}
.icon-120:before {
  content: "\\";
}
.icon-133:before {
  content: "\e000";
}
.icon-146:before {
  content: "\e001";
}
.icon-147:before {
  content: "\e002";
}
.icon-134:before {
  content: "\e003";
}
.icon-121:before {
  content: "\e004";
}
.icon-108:before {
  content: "\e005";
}
.icon-095:before {
  content: "\e006";
}
.icon-082:before {
  content: "\e007";
}
.icon-083:before {
  content: "\e008";
}
.icon-096:before {
  content: "\e009";
}
.icon-109:before {
  content: "\e00a";
}
.icon-122:before {
  content: "\e00b";
}
.icon-135:before {
  content: "\e00c";
}
.icon-148:before {
  content: "\e00d";
}
.icon-149:before {
  content: "\e00e";
}
.icon-136:before {
  content: "\e00f";
}
.icon-123:before {
  content: "\e010";
}
.icon-110:before {
  content: "\e011";
}
.icon-097:before {
  content: "\e012";
}
.icon-084:before {
  content: "\e013";
}
.icon-085:before {
  content: "\e014";
}
.icon-098:before {
  content: "\e015";
}
.icon-111:before {
  content: "\e016";
}
.icon-124:before {
  content: "\e017";
}
.icon-137:before {
  content: "\e018";
}
.icon-150:before {
  content: "\e019";
}
.icon-151:before {
  content: "\e01a";
}
.icon-138:before {
  content: "\e01b";
}
.icon-125:before {
  content: "\e01c";
}
.icon-112:before {
  content: "\e01d";
}
.icon-099:before {
  content: "\e01e";
}
.icon-086:before {
  content: "\e01f";
}
.icon-087:before {
  content: "\e020";
}
.icon-100:before {
  content: "\e021";
}
.icon-113:before {
  content: "\e022";
}
.icon-126:before {
  content: "\e023";
}
.icon-139:before {
  content: "\e024";
}
.icon-152:before {
  content: "\e025";
}
.icon-153:before {
  content: "\e026";
}
.icon-140:before {
  content: "\e027";
}
.icon-127:before {
  content: "\e028";
}
.icon-114:before {
  content: "\e029";
}
.icon-101:before {
  content: "\e02a";
}
.icon-088:before {
  content: "\e02b";
}
.icon-089:before {
  content: "\e02c";
}
.icon-102:before {
  content: "\e02d";
}
.icon-115:before {
  content: "\e02e";
}
.icon-128:before {
  content: "\e02f";
}
.icon-141:before {
  content: "\e030";
}
.icon-154:before {
  content: "\e031";
}
.icon-155:before {
  content: "\e032";
}
.icon-142:before {
  content: "\e033";
}
.icon-129:before {
  content: "\e034";
}
.icon-116:before {
  content: "\e035";
}
.icon-103:before {
  content: "\e036";
}
.icon-090:before {
  content: "\e037";
}
.icon-091:before {
  content: "\e038";
}
.icon-104:before {
  content: "\e039";
}
.icon-117:before {
  content: "\e03a";
}
.icon-130:before {
  content: "\e03b";
}
.icon-143:before {
  content: "\e03c";
}
.icon-156:before {
  content: "\e03d";
}
.icon-157:before {
  content: "\e03e";
}
.icon-170:before {
  content: "\e03f";
}
.icon-183:before {
  content: "\e040";
}
.icon-196:before {
  content: "\e041";
}
.icon-209:before {
  content: "\e042";
}
.icon-222:before {
  content: "\e043";
}
.icon-223:before {
  content: "\e044";
}
.icon-210:before {
  content: "\e045";
}
.icon-197:before {
  content: "\e046";
}
.icon-184:before {
  content: "\e047";
}
.icon-171:before {
  content: "\e048";
}
.icon-158:before {
  content: "\e049";
}
.icon-159:before {
  content: "\e04a";
}
.icon-172:before {
  content: "\e04b";
}
.icon-185:before {
  content: "\e04c";
}
.icon-198:before {
  content: "\e04d";
}
.icon-211:before {
  content: "\e04e";
}
.icon-224:before {
  content: "\e04f";
}
.icon-225:before {
  content: "\e050";
}
.icon-212:before {
  content: "\e051";
}
.icon-199:before {
  content: "\e052";
}
.icon-186:before {
  content: "\e053";
}
.icon-173:before {
  content: "\e054";
}
.icon-160:before {
  content: "\e055";
}
.icon-161:before {
  content: "\e056";
}
.icon-174:before {
  content: "\e057";
}
.icon-187:before {
  content: "\e058";
}
.icon-200:before {
  content: "\e059";
}
.icon-213:before {
  content: "\e05a";
}
.icon-226:before {
  content: "\e05b";
}
.icon-227:before {
  content: "\e05c";
}
.icon-214:before {
  content: "\e05d";
}
.icon-201:before {
  content: "\e05e";
}
.icon-188:before {
  content: "\e05f";
}
.icon-175:before {
  content: "\e060";
}
.icon-162:before {
  content: "\e061";
}
.icon-163:before {
  content: "\e062";
}
.icon-176:before {
  content: "\e063";
}
.icon-189:before {
  content: "\e064";
}
.icon-202:before {
  content: "\e065";
}
.icon-215:before {
  content: "\e066";
}
.icon-228:before {
  content: "\e067";
}
.icon-229:before {
  content: "\e068";
}
.icon-216:before {
  content: "\e069";
}
.icon-203:before {
  content: "\e06a";
}
.icon-190:before {
  content: "\e06b";
}
.icon-177:before {
  content: "\e06c";
}
.icon-164:before {
  content: "\e06d";
}
.icon-165:before {
  content: "\e06e";
}
.icon-178:before {
  content: "\e06f";
}
.icon-191:before {
  content: "\e070";
}
.icon-204:before {
  content: "\e071";
}
.icon-217:before {
  content: "\e072";
}
.icon-230:before {
  content: "\e073";
}
.icon-231:before {
  content: "\e074";
}
.icon-218:before {
  content: "\e075";
}
.icon-205:before {
  content: "\e076";
}
.icon-192:before {
  content: "\e077";
}
.icon-179:before {
  content: "\e078";
}
.icon-166:before {
  content: "\e079";
}
.icon-167:before {
  content: "\e07a";
}
.icon-180:before {
  content: "\e07b";
}
.icon-193:before {
  content: "\e07c";
}
.icon-206:before {
  content: "\e07d";
}
.icon-219:before {
  content: "\e07e";
}
.icon-232:before {
  content: "\e07f";
}
.icon-233:before {
  content: "\e080";
}
.icon-220:before {
  content: "\e081";
}
.icon-207:before {
  content: "\e082";
}
.icon-194:before {
  content: "\e083";
}
.icon-181:before {
  content: "\e084";
}
.icon-168:before {
  content: "\e085";
}
.icon-169:before {
  content: "\e086";
}
.icon-182:before {
  content: "\e087";
}
.icon-195:before {
  content: "\e088";
}
.icon-208:before {
  content: "\e089";
}
.icon-221:before {
  content: "\e08a";
}
.icon-234:before {
  content: "\e08b";
}
.icon-235:before {
  content: "\e08c";
}
.icon-248:before {
  content: "\e08d";
}
.icon-249:before {
  content: "\e08e";
}
.icon-236:before {
  content: "\e08f";
}
.icon-237:before {
  content: "\e090";
}
.icon-250:before {
  content: "\e091";
}
.icon-251:before {
  content: "\e092";
}
.icon-238:before {
  content: "\e093";
}
.icon-239:before {
  content: "\e094";
}
.icon-252:before {
  content: "\e095";
}
.icon-253:before {
  content: "\e096";
}
.icon-240:before {
  content: "\e097";
}
.icon-241:before {
  content: "\e098";
}
.icon-254:before {
  content: "\e099";
}
.icon-255:before {
  content: "\e09a";
}
.icon-242:before {
  content: "\e09b";
}
.icon-243:before {
  content: "\e09c";
}
.icon-256:before {
  content: "\e09d";
}
.icon-257:before {
  content: "\e09e";
}
.icon-244:before {
  content: "\e09f";
}
.icon-245:before {
  content: "\e0a0";
}
.icon-258:before {
  content: "\e0a1";
}
.icon-259:before {
  content: "\e0a2";
}
.icon-246:before {
  content: "\e0a3";
}
.icon-247:before {
  content: "\e0a4";
}
.icon-260:before {
  content: "\e0a5";
}
