html, body {
		margin:0px;
		padding:0px;
		width:100%;
		height:100%;
		font-family: arial;
		font-size:12px;
		color: #333333;
	}
	.table {
		display:table;
		width:100%;
		height:100%;
		table-layout: fixed;
	}
	.table-cell {
		display:table-cell;
		vertical-align:middle;
	}
	.shadow {
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		height:100%;
		width:15px;
		background: url('../images/shadow.png') no-repeat center center;
		z-index:9998;
	}
	#slider {
		position:absolute;
		width: 100% !important;
		height:100% !important;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index:9997;
	}
	.slide-wrapper {
		position: relative;
		height:100%;
	}
	.mc-image  {
		width:100% !important;
		height: 100% !important;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
	}
	.left {
		position:relative;
		height:100%;
	}
	.right {
		width:380px;
		background:#FFFFFF;
		border-left:1px solid #CCCCCC;
		position:relative;
		box-sizing: border-box;
		padding:35px;
		vertical-align: top;
		padding-top:180px;
	}
	
	.slide-nav {
		position:absolute;
		top:0px;
		height:30px;
		left:25px;
		right:25px;
		bottom:0px;
		margin:auto;
	}
	
	.slide-nav .inner {
		position:relative;
		width:100%;
		height:100%;
	}
	
	.arrow_left, .arrow_right {
		position:absolute;
		z-index:9999;
		width:30px;
		height:30px;
		line-height:30px;
		display:block;
		color: #333333;
	}
	
	.arrow_left:hover, .arrow_right:hover {
		color: #FFFFFF;
	}
	
	.arrow_left {
		left:0px;
		top:0px;
		text-align:left;
	}
	
	.arrow_right {
		right:0px;
		top:0px;
		text-align:right;
	}
	
	.logo {
		background:red;
		width:100%;
		height:120px;
		background:url('../images/supplier.png') no-repeat center center;
	}
	
	.welcomer {
		padding-top:50px;
		padding-bottom:25px;
	}
	
	input {
		display:block;
		width:100%;
		padding:7px;
		box-sizing: border-box;
		margin-bottom:9px;
		border:1px solid #B8B8B8;
		-webkit-appearance: none;
	    -webkit-border-radius:0; 
	    border-radius:0;
	}
	
	input:focus {
		border:1px solid #777777;
		outline: none;
	}
	
	input.submit {
		background: #D31E4E;
		color: #FFFFFF;
		border:none;
		margin-top:15px;
		cursor:pointer;
		padding:8px;
		-webkit-appearance: none;
	    -webkit-border-radius:0; 
	    border-radius:0;

	}
	
	input.submit:focus {
		border:none;
	}
	
	form {
		margin:0px;
		padding:0px;
		height:100%;
	}
	
	.errors, .server_errors {
		background:#FDDCDD;
		border:1px solid #EA6467;
		width:100%;
		margin-top:15px;
		color: #EA6467;
		box-sizing:border-box;
		color: #C94042;
		padding: 10px;
		display:none;
		cursor:pointer;
		
	}
	
	.server_errors {
		display:block;
	}
	
	
	
	
	
	