/* New docked menu changes */

#sone-docked-menu-sidebar-body {
    border:1px solid #FFFFFF !important;
}

.sone-sidebar .x-panel-header {
	background: #3B8DBC !important;
}

.sone-sidebar .x-field.x-form-type-text {
	padding-top:10px !important;
}

.sone-button-menu-open {
	border-left:4px solid #888888 !important;
}

.sone-button-menu-open .sone-menu-glyph {
	margin-left: -4px !important;
}

.sone-docked-menu .x-btn-default-small {
	background: #e7e8e8;
	border-bottom:1px solid #c7c7c7;
}

.sone-docked-child-item {
	background: #e7e8e8;
}

.sone-application-title {
	color: #D1EEFC;
}

/* End New docked menu changes */


.sone-remove-all-btn .x-btn-inner-default-small {
	color: #ffffff;
}
.sone-remove-all-btn {
    background-color: #84919f;
}
    
.sone-remove-all-btn.x-btn-over,
.sone-remove-all-btn.x-btn-focus,
.sone-remove-all-btn.x-btn-pressed
 {
    background-color: #99A5B2 !important;
}

.sone-kpi-counter {
	background:red; 
	color: #FFFFFF;
}

.sone-actions-container .sone-display-table-cell div {
	background: #a7a7a7;
}

.sone-actions-container .sone-display-table-cell div:hover {
	background: #333333;
	color: #FFFFFF;
}

.sone-notification-counter {
	background:red;
	color: #FFFFFF;
}

.sone-notify-modal {
	-webkit-box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
	-moz-box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
	box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
}

.sone-notify-modal .x-panel-body {
	background: #F9F9F9 !important;
}

.sone-notification-container .sone-modal-icon div i {
	color: #FFFFFF;
}

.sone-modal-icon div i {
	color: #FFFFFF;
}

.modal-success .sone-modal-icon div {
	background: #87E731;
}

.modal-error .sone-modal-icon div {
	background: #db4437;
}

.modal-activity .sone-modal-icon div {
	background: #5d9bee;
}

.modal-process .sone-modal-icon div {
	background: #5d9bee;
}

.sone-modal-body .sone-modal-title {
	color: #212121;
	color: #777777;
}

.sone-notification-container .sone-modal-body .sone-modal-title {
	color: #FFFFFF;
}

.sone-notification-container .sone-modal-text {
	color: #99a4b0;
}

.sone-modal-time {
	color: #99a4b0;
}

.sone-notification-container .sone-modal-time {
	color: #BBBBBB;
}

/* Start wizard */

.sone-wizard-line {
	background: #e5e5e5;
}

.sone-wizard-step.step-done .sone-step-indicator {
	background: #a0d468 !important;
}

.sone-wizard-step.step-done .sone-step-indicator i {
	color: #FFFFFF;
}

.sone-wizard-step.step-pending .sone-step-indicator {
	background: #DDDDDD;
}

.sone-wizard-step.step-pending .sone-step-indicator i {
	color: #BBBBBB;
}

/* Theme CSS customization */

.sone-subsidiary-icon div i {
	color: #FFFFFF;
}

.sone-subsidiary-box {
	background: transparent;
}

.x-menu {
	-webkit-box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
	box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
}

.sone-toolbar-avatar {
	background: url('images/default_avatar_small.png') no-repeat center center;
}

.sone-logout-btn {
	color: #84919f;
}

.sone-subsidiary-hover .fa {
	color: #99a4b0;
}

.sone-subsidiary-box.active .sone-subsidiary-icon div {
	background: #87E731;
}

.sone-subsidiary-box.inactive .sone-subsidiary-icon div {
	background: #db4437;
}

.sone-subsidiary-box.x-btn-over,
.sone-subsidiary-box.x-btn-focus {
	background: #3d5772 !important;
}

.sone-subsidiary-box .x-btn-inner {
	color: #99a4b0;
}

.sone-subsidiary-name {
	color: #FFFFFF;
}

.sone-avatar-holder {
	background: url('images/default_avatar.png') no-repeat;
}

.sone-avatar-controls {
	background:#000000;
}

.sone-avatar-controls i {
	color: #FFFFFF;
}

.sone-user-info {
	color: #99a4b0;
}

.sone-user-name {
	color: #FFFFFF;
}

.sone-user-body .x-accordion-body {
	color: #99a4b0;
}

.sone-user-body .x-panel-header .x-title-text {
	color: #99a4b0 !important;
}

.sone-theme-menu li,
.sone-lang-menu li {
	background: transparent;
	
}

.sone-theme-menu li.x-btn-over,
.sone-lang-menu li.x-btn-over,
.sone-theme-menu li.x-btn-focus,
.sone-lang-menu li.x-btn-focus,
.sone-theme-menu li.x-btn-pressed,
.sone-lang-menu li.x-btn-pressed {
	background: transparent !important;
}


.sone-theme-menu li .x-btn-inner,
.sone-lang-menu li .x-btn-inner {
	color: #99a4b0;
}

.sone-theme-menu li .x-btn-inner:hover,
.sone-lang-menu li .x-btn-inner:hover {
	color: #FFFFFF;
}

.sone-theme-menu li .x-btn-glyph,
.sone-lang-menu li .x-btn-glyph {
	color: #99a4b0;
}

.sone-user-sidebar .x-panel-body-default {
	background: #3D5772;
}

.sone-notification-sidebar .x-panel-body-default {
	background: #3D5772;
}

.sone-lang-sys {
	background: url(images/flags/sys.png) no-repeat center center !important;
}

.sone-lang-en {
	background: url(images/flags/en.png) no-repeat center center !important;
}

.sone-lang-de {
	background: url(images/flags/de.png) no-repeat center center !important;
}

.sone-lang-fr {
	background: url(images/flags/fr.png) no-repeat center center !important;
}

.sone-lang-es {
	background: url(images/flags/es.png) no-repeat center center !important;
}

.sone-lang-pt {
	background: url(images/flags/pt.png) no-repeat center center !important;
}

.sone-lang-zh {
	background: url(images/flags/zh.png) no-repeat center center !important;
}

.sone-lang-ro {
	background: url(images/flags/ro.png) no-repeat center center !important;
}

.sone-password-container .x-toolbar-footer {
	background: transparent;
}

.sone-password-container .x-form-field {
	background: #606060;
	color: #FFFFFF;
}

.sone-password-container input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent !important;
	-webkit-text-fill-color: #FFFFFF !important;
	 -webkit-box-shadow: 0 0 0 1000px #606060 inset;
}

.sone-password-container .x-form-text-wrap {
	background: #606060;
	color: #FFFFFF;
}

.sone-password-container .x-form-trigger-wrap-default {
	border:1px solid #838383;
}

.sone-password-container .x-form-item-label-default {
	color: #cccccc;
}

.sone-sidebar {
	background: #3B8DBC !important;
}

.sone-toolbar .x-btn-glyph,
.sone-toolbar .x-btn-inner {
	color: #D1EEFC !important;
}

.sone-toolbar {
	background: #3B8DBC;
}

.sone-toolbar .x-btn-default-toolbar-small,
.sone-toolbar .x-btn-default-toolbar-medium,
.sone-toolbar .x-btn-focus.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn-focus.x-btn-pressed.x-btn-default-toolbar-medium,
.sone-toolbar .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn.x-btn-pressed.x-btn-default-toolbar-medium {
	background: transparent;
}

.x-splitter {
	background: #CECECE !important;
	
}

.x-window .x-splitter {
	background: #CECECE !important;
	
}

.sone-advanced-filter-panel .x-toolbar {
	border-left: 1px solid #CBCBCB !important;
	border-right: 1px solid #CBCBCB !important;
}


.sone-right-sidebar .x-btn {
	background: transparent !important;
	
}

.sone-right-sidebar .x-btn * {
	color: #FFFFFF;
}

.sone-sidebar, .sone-right-sidebar {
	border-right: 1px solid #3C4E62;
}

.sone-right-sidebar .x-panel-body {
	background: #3D5772 !important;
}

.sone-sidebar .x-panel-body,
.sone-sidebar .sone-toolbar {
	background: #3C4E62;
}

.sone-sidebar .x-btn-inner,
.sone-sidebar .x-btn-glyph {
	color: #84919f !important;
}

.sone-menu .x-accordion-hd {
	background: #DBDBDB;
	color: #99a4b0;
}

.sone-menu .sone-menu-glyph {
	color: #888888 !important;
}

.sone-menu.x-panel-collapsed .sone-menu-glyph {
	color: #888888 !important;
}

.sone-submenu .x-title-glyph {
	color: #888888 !important;
}

.sone-menu.x-panel-collapsed .x-accordion-hd {
	background: #3C4E62;
}

.sone-menu.x-panel-collapsed .x-accordion-hd-over {
	background: #2D3E50;
}

.sone-submenu .x-accordion-hd {
	background: #425468 !important;
}

.sone-submenu .x-accordion-hd-over {
	background: #516376 !important;
}

.sone-submenu .x-panel-body {
	background: #606060;
}

.x-window .x-toolbar-default {
	background: #FFFFFF !important;
}

.x-window .x-column-header,
.x-window .x-column-header-over {
	background: #EFF0F0;
	border-color: #CBCBCB;
	color: #333333;
}

.x-window .x-grid-header-ct {
	border-color: #CBCBCB;
	background: #EFF0F0; 
}

.x-window .x-grid-body {
	border-top:1px solid #CBCBCB;
}

.x-window .x-column-header-open,
.x-window .x-column-header-over .x-column-header-trigger,
.x-window .x-column-header-open .x-column-header-trigger {
	background-color: #EFF0F0;
}

.x-window .x-column-header-trigger {
	border-left:1px solid #CBCBCB;
}

.x-window .x-toolbar-footer {
	background: #FFFFFF;
}

.sone-frame-title .x-btn-inner {
	color: #444444 !important;
}

.sone-frame-title .x-btn-glyph {
	color: #3B8DBC;
}

.x-window div.x-border-layout-ct,
.x-window .x-panel-body-default {
	background: #FFFFFF !important;	
}


/* Paging toolbar customization */

div[id^="pagingtoolbar"] .x-btn.x-btn-disabled.x-btn-default-toolbar-small,
div[id^="pagingtoolbar"] .x-btn-default-toolbar-small,
div[id*="paging-toolbar"] .x-btn.x-btn-disabled.x-btn-default-toolbar-small,
div[id*="paging-toolbar"] .x-btn-default-toolbar-small { 
	background-color: transparent;
}

.x-form-readonly .x-form-text {
	background: #DDDDDD;
}

/* Start form KPI customization */

.sone-kpi-panel table td > div.x-container {
	border-left:1px dashed #878787 !important;
}

.sone-kpi-panel .x-form-item .x-form-item-label {
	color: #636464;
}

.sone-kpi-panel .sone-highlight-kpi:hover {
	color: #3B8DBC;
}


/* Form title panel */

.sone-title-panel .x-form-item .x-form-item-label {
	color: #333333;
}

.sone-title-panel .x-form-text {
	border:1px solid #CECECE;
}

.sone-title-panel .sone-flat-field .x-form-text {
	background: transparent;
	border:1px solid transparent;
}

.sone-title-panel .sone-flat-field .x-form-text:hover,
.sone-title-panel .sone-flat-field .x-form-text:focus {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-flat-kpi .x-form-trigger-default {
	background-color: transparent !important;
}

.sone-flat-kpi .x-form-item-body,
.sone-flat-kpi .x-form-text:hover,
.sone-flat-kpi .x-form-text:focus {
	background: transparent;
	border:1px solid transparent;
}


.sone-flat-kpi .x-form-item-body:hover,
.sone-flat-kpi .x-form-item-body:focus {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-trigger-kpi .displayfield {
	background: transparent;
	border:1px solid transparent;
}

.sone-trigger-kpi:hover .displayfield,
.sone-trigger-kpi:focus .displayfield {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-trigger-kpi.x-form-readonly:hover .displayfield,
.sone-trigger-kpi.x-form-readonly:focus .displayfield {
	background: transparent;
	border:1px solid transparent;
}

.sone-title-panel .x-form-trigger-wrap-default {
	border:1px solid transparent !important;
}

/* Editable KPI */

.sone-flat-kpi .x-form-field {
	background: transparent;
    color: #555555;
    border:1px solid transparent;
}

.sone-flat-kpi input:hover {
	background: #FFFFFF;
	border:1px solid #c3c3c3;
}

.sone-flat-kpi .x-form-date-trigger.x-form-trigger-default {
	background-color: transparent !important;
}


/* End form KPI customization */

/* Sone custom buttons */

.sone-button-important,
.sone-button-important.x-btn-over {	
	background: #3B8DBC !important;
	border:1px solid #3B8DBC !important;
	
}

.sone-button-important .x-btn-inner,
.sone-button-important .x-btn-inner * {
	color: #FFFFFF !important;
}

/* Grid title panel customization */


.dnet-grid-panel .x-panel-header {
	background:transparent !important;
}


/* Custom checkbox for grid panels */

.dnet-grid-panel .x-grid-row-checker, .x-column-header-checkbox .x-column-header-text,
.dnet-grid-panel .x-grid-checkcolumn {
	background-image: url(images/form/grid-checkbox.png) !important;
}

/* SkyBlue theme customization */

.x-tab.x-tab-active.x-tab-default, .x-tab.x-tab-over.x-tab-default {
    background: #3B8DBC !important;
    border-color: #3B8DBC !important;
}

.x-tab-bar-strip-default {
    border-style: solid;
    border-color: #3B8DBC;
    background-color: #3B8DBC;
}

.x-accordion-item .x-accordion-hd-sibling-expanded {
	border-top-color: #4B5E72;
}

.x-accordion-item .x-accordion-hd {
    border-bottom: 1px solid #4B5E72;
}

.x-accordion-hd .x-panel-header-title {
    color: #B1BBC5;
}

.sone-user-sidebar .x-accordion-item .x-accordion-hd {
	background: #3D5772;
}

.sone-sidebar-check-glyph {
	color: #FFFFFF;
}

.x-grid-header-ct {
    border: 1px solid #a8a7a7;
}

.x-grid-header-ct {
    border: 1px solid #a8a7a7;
    border-bottom-color: #a8a7a7;
    background-color: #d3d3d3;
}

.x-column-header {
    border-right: 1px solid #a8a7a7;
    background-color: #d3d3d3;
    color: #333333;
}

.sone-child-grid .x-grid-body {
	border-top: 1px solid #a8a7a7;
}

.x-column-header-over,
.x-column-header-open
{
	background: #c0c0c0 !important;
	color: #333333 !important !important;
}

.x-column-header-trigger {
	background: #c0c0c0 url('images/hd-pop.png') no-repeat center center !important;
	color: #333333 !important !important;
}

.x-column-header {
	border: 0px;
	border-right: 1px solid #a8a7a7;
		
}

.x-column-header.x-column-header-focus {
    color: rgb(51, 51, 51);
    outline: none !important;
}

.sone-menu .x-title-text {
	padding-left:5px;
	font-size:12px;
	line-height:normal;
	
}

.x-mask {
    background-color: rgba(60,78,98,0.4) !important;
}

/* start docked menu */

.sone-menu-trigger * {
	background: #3B8DBC;
}

.sone-docked-menu .sone-menu.x-panel-collapsed .x-accordion-hd {
    background: #e7e8e8;
}

.sone-menu-trigger {
	z-index: 5 !important;
}

.sone-docked-menu {
	position:relative;
	z-index:19999 !important;
}

.sone-docked-menu .sone-menu.x-panel-collapsed .sone-menu-glyph {
    color: #888888 !important;
}

.sone-docked-menu .x-autocontainer-innerCt,
#sone-docked-menu-body {
	background: #e7e8e8;
}

.sone-docked-menu-toolbar {
	background: #4F4F4F;
	position:relative;
	z-index:5;
}

.sone-docked-menu-toolbar .x-autocontainer-outerCt,
.sone-docked-menu-toolbar .x-autocontainer-outerCt .x-panel-body,
.sone-docked-menu-toolbar .x-autocontainer-innerCt {
	background: #4F4F4F;
}

.sone-docked-menu-toolbar .x-btn-glyph, .sone-docked-menu-toolbar .x-btn-inner {
    color: #D1EEFC !important;
}

.sone-docked-menu-tooltip {
	background: #e0e0e0;
	border:1px solid #c7c7c7;
}

.sone-docked-item {
	border-bottom: 1px solid #c7c7c7;
}

.sone-docked-item.x-btn-over,
.sone-docked-item.x-btn-focus,
.sone-docked-item.x-btn-pressed {
	background: #3B8DBC !important;
	border-bottom: 1px solid #3B8DBC !important;
}

.sone-docked-menu-tooltip .x-tip-body-default {
    color: #555555 !important;
}

.sone-docked-menu .sone-menu:focus {
	background: #efefef;
}

.sone-docked-sidebar {
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}

.sone-docked-item .x-btn-inner, .sone-docked-item .x-btn-glyph {
	color: #888888 !important;
    opacity: 1;
}

.sone-docked-sidebar .x-panel-header {
	background: #e7e8e8;
    border: 1px solid #e7e8e8;
}

.sone-docked-sidebar .x-panel-header .x-title-text {
	color: #D1EEFC !important;
	padding: 7px 10px 10px 7px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

.sone-docked-sidebar .x-panel-header .x-title-text span {
	color: #D1EEFC !important;
}

.sone-docked-menu .x-accordion-item .x-accordion-hd {
    border-bottom: 1px solid #c7c7c7;
}

.sone-docked-menu .x-accordion-item .x-accordion-hd-sibling-expanded {
    border-top-color: #c7c7c7;
    border-top-width: 1px;
}

.sone-docked-menu .sone-menu.x-panel-collapsed .x-accordion-hd-over {
	background: #3B8DBC;
}

.sone-docked-menu .sone-menu.x-panel-collapsed .x-accordion-hd-over .sone-menu-glyph {
	color: #ffffff !important;
}

.sone-docked-sidebar .x-panel-body, .sone-right-sidebar .x-panel-body {
    background: #e7e8e8;
}

.sone-docked-item.x-btn-over .x-btn-inner,
.sone-docked-item.x-btn-over .x-btn-glyph,
.sone-docked-item.x-btn-focus .x-btn-inner,
.sone-docked-item.x-btn-focus .x-btn-glyph,
.sone-docked-item.x-btn-pressed .x-btn-inner,
.sone-docked-item.x-btn-pressed .x-btn-glyph {
	color: #FFFFFF !important;
}

/* end docked menu */

/* .sone-user-sidebar, */
/* .sone-notification-sidebar { */
/* 	z-index: 19999 !important; */
/* } */

/* .x-window { */
/* 	z-index: 20001 !important; */
/* } */

/* .sone-sidebar { */
/* 	background: #FFFFFF; */
/* 	z-index:19999 !important; */
/* } */

/* .x-mask { */
/* 	height: 100% !important; */
/* 	z-index: 19998 !important; */
/* } */

/* .sone-docked-menu { */
/*     z-index: 20000 !important; */
/* } */
