/* Core theme changes */

.sone-panel-collapsible .x-title-text {
	color: #566195 !important;
}

.x-grid-with-row-lines .x-grid-item {
	border-color: #FFFFFF;
}

.x-grid-item-alt {
	background-color: transparent;
}

.x-grid-item-selected {
	background-color: #f0f0f0;
}

.x-grid-with-row-lines .x-grid-item.x-grid-item-over {
	background-color: #f0f0f0 !important;
}

.x-grid-with-row-lines .x-grid-item-selected+.x-grid-item,
.x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
	border-top:1px solid #FFFFFF !important;
}

.x-grid-body {
    border-top-color: #d3d3d3;
}

.x-grid-header-ct {
    border: 0px;
}

.x-grid-header-ct {
    border: 1px solid #d3d3d3;
    border-right:0px;
    border-left:0px;
    border-bottom-color: transparent;
    background-color: #fff;
}

.x-column-header {
    border-right: 1px solid #d3d3d3 !important;
    background-color: #fff;
    color: #333333;
}

.x-column-header-over,
.x-column-header-open
{
	background: #f0f0f0 !important;
	color: #333333 !important !important;
}

.x-column-header-trigger {
	background: #f0f0f0 url('images/hd-pop.png') no-repeat center center !important;
	color: #333333 !important !important;
	border-left:1px solid #d3d3d3;
}

/* Custom checkbox for grid panels */

.dnet-grid-panel .x-grid-row-checker, .x-column-header-checkbox .x-column-header-text,
.dnet-grid-panel .x-grid-checkcolumn {
	background-image: url(images/form/grid-checkbox-clearsky.png) !important;
}

.x-grid-item:hover .x-grid-row-checker {
	background-position: 0 -15px !important;
}

.x-form-trigger-wrap-default {
	border:0px;
	border-bottom:1px dashed rgba(135, 135, 135, 1);
}

.x-form-textarea-body .x-form-trigger-wrap-default {
	border:1px dashed rgba(135, 135, 135, 1);
}

.x-form-readonly .x-form-text {
	background: #FFF !important;	
}

.x-form-item-body .x-form-trigger {
	opacity:0;
}

.x-form-item-body:hover .x-form-trigger {
	opacity:1;
}

/* End core theme changes */

/* New docked menu changes */

#sone-docked-menu-sidebar-body {
    border: 1px solid rgba(255,255,255,0.3);
    border-left:0px;
}

.sone-sidebar .x-panel-header {
	background: #485076 !important;
}

.sone-sidebar .x-field.x-form-type-text {
	padding-top:10px !important;
}

.sone-button-menu-open {
	border-left:4px solid rgba(255,255,255,0.8) !important;
}

.sone-button-menu-open .sone-menu-glyph {
	margin-left: -4px !important;
}

.x-grid-body {
	border:0px;
	border-top:1px solid #d3d3d3;
}

/* End New docked menu changes */

.x-panel-body-default {
    background: #FFFFFF;
}

body.x-border-layout-ct, div.x-border-layout-ct {
    background-color: #ffffff;
}

.x-toolbar-default {
    background-color: #FFFFFF;
}

.x-toolbar-status-bar-docked-bottom {
    background: #FFFFFF !important;
}

/* start docked menu */

.sone-docked-menu .x-autocontainer-innerCt {
	background: #e7e8e8;
}

.sone-docked-menu-toolbar {
	background: #3B8DBC;
}

.sone-docked-sidebar .x-form-text-default {
	background-color: rgba(255,255,255,0.2) !important;
}

.sone-docked-sidebar .x-form-trigger-wrap-default {
	border: 1px solid rgba(255,255,255,0.6) !important;
}

.sone-docked-sidebar .x-form-empty-field-default,
.sone-docked-sidebar .x-form-text-default {
	color: rgba(255,255,255,0.8) !important;
}

#sone-docked-menu-sidebar-body .x-form-text-default {
	color: #333333 !important;
}

.sone-docked-menu-toolbar .x-autocontainer-outerCt,
.sone-docked-menu-toolbar .x-autocontainer-outerCt .x-panel-body,
.sone-docked-menu-toolbar .x-autocontainer-innerCt {
	background: #3B8DBC;
}

.sone-docked-menu-toolbar .x-btn-glyph, .sone-docked-menu-toolbar .x-btn-inner {
    color: #D1EEFC !important;
}

.sone-docked-menu-tooltip {
	background: #e7e8e8;
}

.sone-docked-menu-tooltip .x-tip-body-default {
    color: #FFFFFF !important;
}

/* end docked menu */

.sone-remove-all-btn .x-btn-inner-default-small {
	color: rgba(255,255,255,0.8);;
}
.sone-remove-all-btn {
    background-color: #566195;
}
    
.sone-remove-all-btn.x-btn-over,
.sone-remove-all-btn.x-btn-focus,
.sone-remove-all-btn.x-btn-pressed
 {
    background-color: #566195 !important;
}

.sone-kpi-counter {
	background:red; 
	color: #FFFFFF;
}

.sone-actions-container .sone-display-table-cell div {
	background: #a7a7a7;
}

.sone-actions-container .sone-display-table-cell div:hover {
	background: #333333;
	color: #FFFFFF;
}

.sone-notification-counter {
	background:red;
	color: #FFFFFF;
}

.sone-notify-modal {
	-webkit-box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
	-moz-box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
	box-shadow: 0px 1px 3px 1px rgba(194,192,194,1);
}

.sone-notify-modal .x-panel-body {
	background: #F9F9F9 !important;
}

.sone-notification-container .sone-modal-icon div i {
	color: #FFFFFF;
}

.sone-modal-icon div i {
	color: #FFFFFF;
}

.modal-success .sone-modal-icon div {
	background: #87E731;
}

.modal-error .sone-modal-icon div {
	background: #db4437;
}

.modal-activity .sone-modal-icon div {
	background: #5d9bee;
}

.modal-process .sone-modal-icon div {
	background: #5d9bee;
}

.sone-modal-body .sone-modal-title {
	color: #212121;
	color: #777777;
}

.sone-notification-container .sone-modal-body .sone-modal-title {
	color: rgba(255,255,255,0.8);
}

.sone-notification-container .sone-modal-text {
	color: rgba(255,255,255,0.8);
}

.sone-modal-time {
	color: rgba(255,255,255,0.8);
}

.sone-notification-container .sone-modal-time {
	color: rgba(255,255,255,0.8);
}

/* Start wizard */

.sone-wizard-line {
	background: #e5e5e5;
}

.sone-wizard-step.step-done .sone-step-indicator {
	background: #a0d468 !important;
}

.sone-wizard-step.step-done .sone-step-indicator i {
	color: #FFFFFF;
}

.sone-wizard-step.step-pending .sone-step-indicator {
	background: #DDDDDD;
}

.sone-wizard-step.step-pending .sone-step-indicator i {
	color: #BBBBBB;
}

/* Theme CSS customization */

.sone-subsidiary-icon div i {
	color: #FFFFFF;
}

.sone-subsidiary-box {
	background: transparent;
}

.x-menu {
	-webkit-box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
	box-shadow: 0px 8px 17px -6px rgba(0,0,0,0.64);
}

.sone-toolbar-avatar {
	background: url('images/default_avatar_small.png') no-repeat center center;
}

.sone-logout-btn {
	color: #67cb33;
}

.sone-subsidiary-hover .fa {
	color: rgba(255,255,255,0.8);
}

.sone-subsidiary-box.active .sone-subsidiary-icon div {
	background: #87E731;
}

.sone-subsidiary-box.inactive .sone-subsidiary-icon div {
	background: #db4437;
}

.sone-subsidiary-box.x-btn-over,
.sone-subsidiary-box.x-btn-focus {
	background: transparent !important;
}

.sone-subsidiary-box .x-btn-inner {
	color: rgba(255,255,255,0.8);
}

.sone-subsidiary-name {
	color: rgba(255,255,255,0.8);
	font-weight:600;
}

.sone-avatar-holder {
	background: url('images/default_avatar.png') no-repeat;
}

.sone-avatar-controls {
	background:#000000;
}

.sone-avatar-controls i {
	color: #FFFFFF;
}

.sone-user-info {
	color: rgba(255,255,255,0.8);
}

.sone-user-name {
	color: rgba(255,255,255,0.8);
}

.sone-user-body .x-accordion-body {
	color: rgba(255,255,255,0.8);
}

.sone-user-body .x-panel-header .x-title-text {
	color: rgba(255,255,255,0.8) !important;
}

.sone-theme-menu li,
.sone-lang-menu li {
	background: transparent;
	
}

.x-btn-over.x-btn-default-small,
.x-btn-over.x-btn-default-toolbar-small {
  border-color: transparent;
  background-image: none;
  background-color: transparent; }

.sone-theme-menu li.x-btn-over,
.sone-lang-menu li.x-btn-over,
.sone-theme-menu li.x-btn-focus,
.sone-lang-menu li.x-btn-focus,
.sone-theme-menu li.x-btn-pressed,
.sone-lang-menu li.x-btn-pressed {
	background: transparent !important;
}


.sone-theme-menu li .x-btn-inner,
.sone-lang-menu li .x-btn-inner {
	color: rgba(255,255,255,0.8);
}

.sone-theme-menu li .x-btn-inner:hover,
.sone-lang-menu li .x-btn-inner:hover {
	color: #FFFFFF;
}

.sone-theme-menu li .x-btn-glyph,
.sone-lang-menu li .x-btn-glyph {
	color: #99a4b0;
}

.sone-user-sidebar .x-panel-body-default {
	background: #566195;
}

.sone-notification-sidebar .x-panel-body-default {
	background: #566195;
}

.sone-lang-sys {
	background: url(images/flags/sys.png) no-repeat center center !important;
}

.sone-lang-en {
	background: url(images/flags/en.png) no-repeat center center !important;
}

.sone-lang-de {
	background: url(images/flags/de.png) no-repeat center center !important;
}

.sone-lang-fr {
	background: url(images/flags/fr.png) no-repeat center center !important;
}

.sone-lang-es {
	background: url(images/flags/es.png) no-repeat center center !important;
}

.sone-lang-pt {
	background: url(images/flags/pt.png) no-repeat center center !important;
}

.sone-lang-zh {
	background: url(images/flags/zh.png) no-repeat center center !important;
}

.sone-lang-ro {
	background: url(images/flags/ro.png) no-repeat center center !important;
}

.sone-password-container .x-toolbar-footer {
	background: transparent;
}

.sone-password-container .x-form-field {
	background: #606060;
	color: #FFFFFF;
}

.sone-password-container input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent !important;
	-webkit-text-fill-color: #FFFFFF !important;
	 -webkit-box-shadow: 0 0 0 1000px #606060 inset;
}

.sone-password-container .x-form-text-wrap {
	background: #606060;
	color: #FFFFFF;
}

.sone-password-container .x-form-trigger-wrap-default {
	border:1px solid #838383;
}

.sone-password-container .x-form-item-label-default {
	color: #cccccc;
}

.sone-sidebar {
	background: #3D5772 !important;
}

.sone-toolbar .x-btn-glyph,
.sone-toolbar .x-btn-inner {
	color: #FFFFFF !important;
}

.sone-toolbar {
	background: #566195;
}

.sone-toolbar .x-btn-default-toolbar-small,
.sone-toolbar .x-btn-default-toolbar-medium,
.sone-toolbar .x-btn-focus.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn-focus.x-btn-pressed.x-btn-default-toolbar-medium,
.sone-toolbar .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn.x-btn-pressed.x-btn-default-toolbar-medium {
	background: transparent;
}

.x-splitter {
	background: #CECECE !important;
	
}

.x-window .x-splitter {
	background: #CECECE !important;
	
}

.sone-advanced-filter-panel .x-toolbar {
	border-left: 1px solid #CBCBCB !important;
	border-right: 1px solid #CBCBCB !important;
}


.sone-right-sidebar .x-btn {
	background: transparent !important;
	
}

.sone-right-sidebar .x-btn * {
	color: #FFFFFF;
}

.sone-sidebar, .sone-right-sidebar {
	border-right: 1px solid rgba(255,255,255,0.3);
}

.sone-sidebar .x-panel-body,
.sone-right-sidebar .x-panel-body,
.sone-sidebar .sone-toolbar {
	background: #566195;
}

.sone-sidebar .x-btn-inner,
.sone-sidebar .x-btn-glyph {
	color: #67cb33 !important;
}

.sone-docked-child-item {
	background: #566195;
}

.sone-menu .x-accordion-hd {
	background: #DBDBDB;
	color: #888888;
}

.sone-menu .x-btn-inner-default-small {
	color: rgba(255,255,255,0.8) !important;
}

.sone-menu .sone-menu-glyph {
	color: rgba(255,255,255,0.8) !important;
}

.sone-menu.x-panel-collapsed .sone-menu-glyph {
	color: #888888 !important;
}


.sone-submenu .x-title-glyph {
	color: #888888 !important;
}

.sone-menu.x-panel-collapsed .x-accordion-hd {
	background: #e7e8e8;
}

.sone-menu.x-panel-collapsed .x-accordion-hd-over {
	background: #f24f4f;
}

.sone-submenu .x-accordion-hd {
	background: #e7e8e8 !important;
}

.sone-submenu .x-accordion-hd-over {
	background: #f24f4f !important;
}

.sone-submenu .x-accordion-hd-over .x-title-text,
.sone-submenu .x-accordion-hd-over .x-title-glyph {
	color: #ffffff !important;
}

.sone-submenu .x-title-glyph {
    opacity: .8 !important;
}

.sone-submenu .x-panel-body {
	background: transparent;
}

.x-window .x-toolbar-default {
	background: #FFFFFF !important;
}


.x-window .x-toolbar-footer {
	background: #FFFFFF;
}

.sone-frame-title .x-btn-inner {
	color: #444444 !important;
}

.sone-frame-title .x-btn-glyph {
	color: #566195;
}

.x-window div.x-border-layout-ct,
.x-window .x-panel-body-default {
	background: #FFFFFF !important;	
}


/* Paging toolbar customization */

div[id^="pagingtoolbar"] .x-btn.x-btn-disabled.x-btn-default-toolbar-small,
div[id^="pagingtoolbar"] .x-btn-default-toolbar-small,
div[id*="paging-toolbar"] .x-btn.x-btn-disabled.x-btn-default-toolbar-small,
div[id*="paging-toolbar"] .x-btn-default-toolbar-small { 
	background-color: transparent;
}

.x-form-readonly .x-form-text {
	background: #DDDDDD;
}

/* Start form KPI customization */

.sone-kpi-panel table td > div.x-container {
	border-left:1px dashed #878787 !important;
}

.sone-kpi-panel .x-form-item .x-form-item-label {
	color: #636464;
}

.sone-kpi-panel .sone-highlight-kpi:hover {
	color: #F65A84;
}


/* Form title panel */

.sone-title-panel .x-form-item .x-form-item-label {
	color: #333333;
}

.sone-title-panel .x-form-text {
	border:1px solid #CECECE;
}

.sone-title-panel .sone-flat-field .x-form-text {
	background: transparent;
	border:1px solid transparent;
}

.sone-title-panel .sone-flat-field .x-form-text:hover,
.sone-title-panel .sone-flat-field .x-form-text:focus {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-flat-kpi .x-form-trigger-default {
	background-color: transparent !important;
}

.sone-flat-kpi .x-form-item-body,
.sone-flat-kpi .x-form-text:hover,
.sone-flat-kpi .x-form-text:focus {
	background: transparent;
	border:1px solid transparent;
}


.sone-flat-kpi .x-form-item-body:hover,
.sone-flat-kpi .x-form-item-body:focus {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-trigger-kpi .displayfield {
	background: transparent;
	border:1px solid transparent;
}

.sone-trigger-kpi:hover .displayfield,
.sone-trigger-kpi:focus .displayfield {
	background: #FFFFFF;
	border:1px solid #CECECE;
}

.sone-trigger-kpi.x-form-readonly:hover .displayfield,
.sone-trigger-kpi.x-form-readonly:focus .displayfield {
	background: transparent;
	border:1px solid transparent;
}

.sone-title-panel .x-form-trigger-wrap-default {
	border:1px solid transparent !important;
}

/* Editable KPI */

.sone-flat-kpi .x-form-field {
	background: transparent;
    color: #555555;
    border:1px solid transparent;
}

.sone-flat-kpi input:hover {
	background: #FFFFFF;
	border:1px solid #c3c3c3;
}

.sone-flat-kpi .x-form-date-trigger.x-form-trigger-default {
	background-color: transparent !important;
}


/* End form KPI customization */

/* Sone custom buttons */

.sone-button-important,
.sone-button-important.x-btn-over {	
	background: #f65a84 !important;
	border:1px solid #f65a84 !important;
	
}

.sone-button-important .x-btn-inner,
.sone-button-important .x-btn-inner * {
	color: #FFFFFF !important;
}

/* Grid title panel customization */


.dnet-grid-panel .x-panel-header {
	background:transparent !important;
}

/* SkyBlue theme customization */

.x-tab.x-tab-active.x-tab-default {
    background: transparent !important;
    border-color: transparent !important;
    border-bottom-color: #67cb33 !important;
}

.x-tab.x-tab-over.x-tab-default {
    background: #67cb33 !important;
    border-color: transparent !important;
    border-bottom-color: #67cb33 !important;
}

.x-tab-inner-default {
    font: 600 13px/16px "Open Sans",sans-serif;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #444444 !important;
    text-transform: uppercase;
    
}

.x-tab.x-tab-over.x-tab-default .x-tab-inner-default {
	color: #FFFFFF !important;
	text-transform: uppercase;
}

.x-tab-bar-strip-default {
    border-style: solid;
    border-color: #566195;
    background-color: #566195;
}

.x-tab.x-tab-default {
    background: transparent!important;
    border-color: transparent!important;
}

.x-accordion-item .x-accordion-hd-sibling-expanded {
	border-top-color: transparent;
}

.x-accordion-item .x-accordion-hd {
    border-bottom: 1px solid #c7c7c7;
}

.x-accordion-hd .x-panel-header-title {
    color: #888888;
}

.sone-menu.x-panel-collapsed .x-accordion-hd-over .x-panel-header-title {
	color: #ffffff;
}

.sone-menu.x-panel-collapsed .x-accordion-hd-over .sone-menu-glyph {
	color: #ffffff !important;
}

.x-accordion-item .x-accordion-hd {
	background: #d6d5d5;
}


.sone-user-sidebar .x-accordion-item .x-accordion-hd {
	background: #566195;
}

.sone-sidebar-check-glyph {
	color: #FFFFFF;
}

.sone-child-grid .x-grid-body {
	border-top: 1px solid #a8a7a7;
}

.x-column-header.x-column-header-focus {
    color: rgb(51, 51, 51);
    outline: none !important;
}

.sone-menu .x-title-text {
	padding-left:5px;
	font-size:12px;
	line-height:normal;
	
}

.x-mask {
    background-color: rgba(60,78,98,0.4) !important;
}

/* start docked menu */

.sone-menu-trigger * {
	background: #67cb33;
}

.sone-menu-trigger {
	z-index: 5 !important;
}

.sone-docked-menu {
	position:relative;
	z-index:19999 !important;
}


.sone-docked-menu .x-autocontainer-innerCt {
	background: #566195;
}

.sone-docked-menu-toolbar {
	background: #3B8DBC;
	position:relative;
	z-index:5;
}

.sone-docked-menu-toolbar .x-autocontainer-outerCt,
.sone-docked-menu-toolbar .x-autocontainer-outerCt .x-panel-body,
.sone-docked-menu-toolbar .x-autocontainer-innerCt {
	background: #3B8DBC;
}

.sone-docked-menu-toolbar .x-btn-glyph, .sone-docked-menu-toolbar .x-btn-inner {
    color: #D1EEFC !important;
}

.sone-docked-menu-tooltip {
	background: #e0e0e0;
	border:1px solid #c7c7c7;
}

.sone-docked-item.x-btn-over,
.sone-docked-item.x-btn-focus,
.sone-docked-item.x-btn-pressed {
	background: #6d76a2 !important;
}

.sone-docked-menu-tooltip .x-tip-body-default {
    color: #555555 !important;
}

.sone-docked-menu .sone-menu:focus {
	background: #6d76a2;
}

.sone-docked-sidebar {
	border-left: 1px solid rgba(255,255,255,0.3);
}

.sone-docked-item .x-btn-inner, .sone-docked-item .x-btn-glyph {
	color: rgba(255,255,255,0.8) !important;
	opacity: 1;
}

.sone-docked-item.x-btn-over .x-btn-inner,
.sone-docked-item.x-btn-over .x-btn-glyph,
.sone-docked-item.x-btn-focus .x-btn-inner,
.sone-docked-item.x-btn-focus .x-btn-glyph,
.sone-docked-item.x-btn-pressed .x-btn-inner,
.sone-docked-item.x-btn-pressed .x-btn-glyph {
	color: rgba(255,255,255,0.8) !important
}

.sone-docked-sidebar .x-panel-header {
	background: #566195;
	border:1px solid transparent;
}

.sone-docked-sidebar .x-panel-header .x-title-text {
	color: rgba(255,255,255,0.8) !important;
	padding: 7px 10px 10px 7px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

.sone-docked-sidebar .sone-submenu,
.sone-docked-sidebar .x-accordion-item {
	padding:0px !important;
}

.sone-docked-sidebar .sone-submenu .x-accordion-item .x-title {
	padding:0px 20px !important;
}

.sone-docked-sidebar .sone-submenu .x-panel-header:hover .x-title-text,
.sone-docked-sidebar .sone-submenu .x-panel-header:hover .x-title-glyph {
    color: #FFFFFF !important;
    opacity: 1;
}

/* end docked menu */

/* Start new docked menu */

.sone-button-menu {
	background: #566195;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.sone-docked-menu.open .sone-button-menu {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.sone-docked-menu .x-btn-default-small, .sone-docked-menu .x-btn-default-toolbar-small {
	padding:4px 8px 4px 8px !important;
}

.sone-button-menu.x-btn-over {
	background: #6d76a2;
}

.sone-button-menu.x-btn-over .sone-menu-glyph,
.sone-docked-menu .sone-button-menu:focus .sone-menu-glyph,
.sone-docked-menu .sone-button-menu:focus .x-btn-inner,
.sone-button-menu.x-btn-over .x-btn-inner {
	color: #FFFFFF !important;
} 

.sone-docked-menu .sone-button-menu:focus {
	background: #6d76a2;
}

.sone-docked-menu .x-panel-body-default {
	background: transparent;
}

.sone-application-title {
	color: rgba(255,255,255,0.9);
	padding-left:10px;
}

.sone-docked-menu.open .x-autocontainer-innerCt {
	background: #566195;
}

.sone-docked-menu.open .sone-button-menu-text {
	background: #566195;
}

.sone-docked-menu.open .sone-button-menu-text.x-btn-over,
.sone-docked-menu.open .sone-button-menu-text:focus {
	background: #6d76a2;
}

.sone-docked-sidebar .x-btn-inner-default-small, 
.sone-docked-sidebar .x-btn-inner-default-toolbar-small {
	padding-left:8px;
}

/* End new docked menu */

/* Core theme changes */

.sone-user-body .x-btn-inner-default-small,,
#sone-docked-menu-sidebar-body .x-btn-inner-default-small, {
	font-weight: 400;
}

.x-tab-bar .x-box-scroller-body-horizontal {
	overflow: initial !important;
}

.x-btn-default-small,
.x-btn-default-toolbar-small {
    border-width: 0px;
    text-transform: uppercase;
    padding:4px 2px 4px 2px;
}

.x-btn-inner-default-small,
.x-btn-inner-default-toolbar-small {
    font-weight: 600;
    padding-left:2px;
    
}

.x-tab-default-top {
	border-width: 1px 1px 3px 1px!important;
}

.x-tab.x-tab-default .x-tab-inner-default {
    text-transform: uppercase;
}

.x-tab-default-top {
    padding: 7px 12px 8px 12px !important;
}

.x-tab-bar-top>.x-tab-bar-strip-default {
	height: 3px;
	margin-bottom:3px;
}

.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-active.x-tab-default, 
.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-over.x-tab-default {
	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	border-bottom:0px !important;
	height: 32px !important;
}

/* .sone-user-sidebar, */
/* .sone-notification-sidebar { */
/* 	z-index: 19999 !important; */
/* } */

/* .x-window { */
/* 	z-index: 20001 !important; */
/* } */

/* .sone-sidebar { */
/* 	background: #FFFFFF; */
/* 	z-index:19999 !important; */
/* } */

/* .x-mask { */
/* 	height: 100% !important; */
/* 	z-index: 19998 !important; */
/* } */

/* .sone-docked-menu { */
/*     z-index: 20000 !important; */
/* } */
