/* Start collapsibe panels */

.sone-panel-collapsible .x-panel-header-default {
       background: transparent;
       border: 0px;    
       cursor: pointer;
}

.sone-panel-collapsible > .x-panel-header .x-tool {
       display: none;
}

.sone-panel-collapsible > .x-panel-header .x-title {
       margin-left: -6px;
}

.sone-panel-collapsible > .x-panel-header .x-title-text {
       padding-left:0px;
       font-size: 16px;
       font-weight: 600;
}

.sone-panel-collapsible > .x-panel-header .x-title-text:before {
       background-image: none;
       content: '\f078';
    font-family: 'FontAwesome';
    line-height: 32px;
    font-size: 14px;
    margin-right: 4px;
    font-weight: 400;
}

.sone-panel-collapsible.x-panel-collapsed > .x-panel-header .x-title-text:before {
       background-image: none;
       content: '\f054';
    font-family: 'FontAwesome';
    line-height: 32px;
    font-size: 14px;
    margin-right: 4px;
    font-weight: 400;
}

/* End collapsibe panels */

.number-with-spinner .x-form-trigger-spinner {
	display: table-cell !important;
}


#n21-loading {
	background-color: #FFFFFF;
}

.sone-system-menu-panel .x-tool {
	display:none;
}

.sone-canceled-tender-row td .x-grid-cell-inner {
	color: red;
} 

.sone-declined-tender-location-bid-row td .x-grid-cell-inner {
	color: green;
} 

.x-tab-bar .x-box-scroller-body-horizontal {
	overflow: initial !important;
}


.sone-user-body .x-btn-inner-default-small, 
#sone-docked-menu-sidebar-body .x-btn-inner-default-small {
	font-weight: 400;
}

/*
.x-toolbar .x-btn:not(:first-child) {
	margin-left:-15px !important;
}

.x-toolbar .x-btn:first-child {
	margin-right:25px !important;
}
*/
.x-tab-default-top {
	border-width: 1px 1px 3px 1px!important;
}

.x-tab.x-tab-default .x-tab-inner-default {
    text-transform: uppercase;
}

.x-tab-default-top {
    padding: 7px 12px 8px 12px !important;
}

.x-tab-bar-top>.x-tab-bar-strip-default {
	height: 3px;
	margin-bottom:3px;
}

.sone-docked-sidebar .x-panel-header.x-accordion-hd .x-title-text {
	padding:0px;
	font-size:12px;
	font-weight:normal !important;
}

.sone-docked-sidebar .sone-system-menu-panel .x-panel-header {
	border-width:0px;
	border-bottom-width:1px;
}

.sone-system-menu-panel .sone-submenu:hover .x-title {
	padding-left:10px;
}

.sone-custom-summary {
	width: 100% !important;
	table-layout: fixed;
}

.sone-custom-summary td {
	width: auto !important;
}

.sone-assign-lov ul {
	height: 53px !important;
}

.x-message-box .x-title {
	visibility: hidden;
}

.x-message-box .x-progress-default {
	margin-top:-10px !important;
}

.x-message-box .x-window-body .x-container {
	padding-top:0px !important;
}

.sone-submenu .x-title { 
	transition: all .4s;
	padding-left:10px;
}

.sone-submenu:hover .x-title {
	padding-left:15px;
}


.x-toolbar-status-bar-docked-bottom {
	padding:5px !important;
	background: #EFF0F0 !important; 
}

.sone-chart-title-tlb {
	padding-top:12px !important;
}

.sone-chart-title-tlb .x-box-inner {
	height:25px !important;

}

.sone-tab-two-levels > .x-tab-bar .x-tab-bar-body {
	background: #FFFFFF;
	padding-top:5px !important;
	padding-left:10px !important;
	padding-bottom:0px !important;
}

.sone-tab-two-levels > .x-tab-bar .x-tab-bar-strip-default {
	height:1px !important;
	background: #cccccc;
	margin-bottom:0px !important;
}

.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-over.x-tab-default {
	border:1px solid transparent;	
	background: #FFFFFF !important;
}

.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-active.x-tab-default .x-tab-inner-default, 
.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-over.x-tab-default .x-tab-inner-default {
	color: #333333 !important;
}

.sone-tab-two-levels > .x-tab-bar .x-tab.x-tab-default {
	border-color: #FFFFFF !important;	
}

.sone-sidebar {
	background: #FFFFFF;
	z-index:19998 !important;
}

.sone-chart-pointer .x-surface-canvas {
	cursor:pointer !important;	
}

.x-btn-left .x-btn-inner {
	text-align: left !important;
	width:100%;
}

.sone-submenu .x-accordion-hd {
	background: transparent !important;
	border:0px;
}

.sone-frame-title,
.sone-frame-title * {
	background: none !important;
	border:0px !important;
	opacity: 1 !important;
}

/* Warning and error messages */

.msg-server-message {
	border-left:5px solid #f24f4f;
}

.msg-warning {
	border-left:5px solid #ffe167;
}

.msg-error {
	border-left:5px solid #f24f4f;
}

.msg-info {
	border-left:5px solid #91d1fa;
}

/* End Warning and error messages */

/* Loading message */

#n21-loading {
  position: absolute;
  left: 40%;
  top: 40%;
  padding: 2px;
  z-index: 20001;
  height: auto;
}
#n21-loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}
#n21-loading-logo {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 2px;
  height: 15px;
}
#n21-loading-logo-text {
  background: transparent;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 2px;
}
#n21-loading .n21-loading-indicator {
  text-align: center;
  background: transparent;
  height: auto;
}

/* Button colors */

/* Glyph colors */

.glyph-normal {
	color: #333 !important;
	opacity:.6 !important;
}

.view-filter-toolbar {
	outline: none !important;
	padding:5px 0px !important;
}

.view-filter-toolbar,
.dnet-grid-panel .x-toolbar a:last-child {
	
	}

.sone-row-important {
	font-weight: bold !important;
}

/* Glyph colors */



.glyph-red {
	color: #ED5564 !important;
	opacity:1 !important;
}

.glyph-blue {
	color: #4FC0E8 !important;
	opacity:1 !important;
}

.glyph-green {
	color: #A0D468 !important;
	opacity:1 !important;
}

.glyph-yellow {
	color: #FFCE55 !important;
	opacity:1 !important;
}

.x-tip-body {
	white-space:nowrap;
}

.sone-total-panel,
.sone-total-panel .x-panel-body,
.sone-total-panel .x-form-item-label-default {
	padding-top:0px !important;
}

.sone-total-panel .x-form-item-label-default {
	padding-right: 10px !important;
}



.sone-title-panel .x-form-item-label {
	height:36px;
}

.sone-checkbox-group .x-form-type-checkbox .x-form-item-label,
.sone-checkbox-group .x-form-type-checkbox .x-form-item-label-inner {
	width: auto !important;
}

.sone-checkbox-group .x-form-type-checkbox {
	padding-left:15px;
	
}

.sone-checkbox-group .x-form-type-checkbox:first-child {
	padding-left:10px;
	
}

/* Begin toolbar customization */

div[class*='sone-toolbar-'] .x-form-item {
	margin-top:1px;
	
}

div[class*='sone-toolbar-'] .x-form-item-body {
	height:26px;
	vertical-align:middle;
	box-sizing:border-box;
}

div[class*='sone-toolbar-'] .x-form-display-field {
	height:26px;
	background:#FFFFFF;
	border:1px solid #CECECE;
	padding:4px 6px;
	box-sizing:border-box;
}

div[class*='sone-toolbar-'] .x-form-display-field,
div[class*='sone-toolbar-'] .x-form-item-body-default {
	margin-top:0px;
	min-height:100%;
}

.sone-field-flat input {
	background: transparent !important;
	border:1px solid transparent !important;
	opacity: 1 !important;
}

.sone-field-flat .x-form-trigger-wrap-default {
	border:1px solid transparent !important;
}

/* Begin Dashboard responsive grid layout */

#dashboard-wrapper {
	height:100%;
	width:100%;
}

.dashboard-row {
	box-sizing: border-box;
}


.dashboard-row > div {
	display:inline-block;
	box-sizing: border-box;
	padding-right:10px;
	height: 100%;
}

.dashboard-row.col-4 > div {
	width: 25%;
}

.dashboard-row.col-4 > div:last-child {
	padding-right:0px;
}

.dashboard-row.col-4 > div > div.dashboard-chart-container {
	background: #FFFFFF;
	width:100%;
	height:100%;
	box-sizing: border-box;
	border:1px solid #CECECE;
	text-align:center;
	padding:10px;
	display:block;
	margin-bottom:10px;
}

.dashboard-row.col-4 > div > div.dashboard-chart-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sone-no-label-after label {
	display:none;
}

.dashboard-chart-container * {
	text-align:center;
}

/* Chart container */

.sone-chart-container .x-panel-header,
.sone-chart-pointer .x-panel-header {
	border:0px;
	background:transparent !important;
}

.sone-chart-pointer .x-panel-header {
	padding-top:0px;
}

.sone-chart-container .x-title-text,
.sone-chart-pointer .x-title-text {
	text-align:center !important;
	color: #333;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    line-height:normal !important;
	
}

.x-grid-filters-filtered-column {
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

/* Child grid customization */

.x-grid-rowbody {
	padding: 0px 10px 10px 10px !important;
	
}

.sone-child-grid .x-grid-header-ct,
.sone-child-grid .x-column-header {
	background-color: #d3d3d3;
	border: 1px solid #a8a7a7;
	color: #333333;
}

.sone-child-grid .x-grid-body {
	border-top: 1px solid #a8a7a7;
}

.sone-child-grid .x-column-header-over,
.sone-child-grid .x-column-header-open
{
	background: #c0c0c0 !important;
	color: #333333 !important !important;
}

.sone-child-grid .x-column-header-trigger {
	background: #c0c0c0 url('images/hd-pop.png') no-repeat center center !important;
	color: #333333 !important !important;
}

.sone-child-grid .x-column-header {
	border: 0px;
	border-right: 1px solid #a8a7a7;
		
}

.sone-child-grid .x-column-header.x-column-header-focus {
    color: rgb(51, 51, 51);
    outline: none !important;
}

.sone-chart-widget.x-panel-body-default,
.sone-chart-widget .x-panel-body {
	background: #FCFCFC;
}

.sone-chart-widget .x-panel-header {
	border:0px;
	border-bottom:1px solid #DDDDDD !important;
	height:47px;
	background: #FCFCFC;
}

.sone-chart-widget .x-panel-header-title-default {
	color: #777777;
}

.sone-chart-widget .x-panel-header-title-default>.x-title-text-default {
	text-transform: uppercase !important;
}

.jqstooltip {
	width: auto !important;
	height: 24px !important;
}


/* ####################### */
/* Begin general CSS rules */
/* ####################### */

.sone-remove-all-btn {
    border-width: 0px;
}

.sone-kpi-counter {
	width:16px; 
	height:16px;
	position: absolute; 
	right:0px; 
	border-radius: 100%; 
	top:0px;
	margin-right:-18px;
	line-height:16px;
	display:none;
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

.sone-notification-container {
	height: auto;
	padding:20px 20px 0px 20px;
	cursor: pointer;
	position: relative;
}

.sone-notification-container:first-child {
	padding-top:0px;
}

.sone-notification-container > .sone-display-table {
	transition: all .6s;
}

.sone-notification-container:hover > .sone-display-table {
	opacity:0.3;
}


.sone-actions-container {
	position:absolute;
	top: 20px;
	right: 0px;
	bottom:0px;
	left:0px;
	width: 70px;
	height: 30px;
	margin: auto;
	z-index:1;
	opacity:0;
	transition: all .6s;
	overflow: hidden;
}

.sone-actions-container .sone-display-table-cell {
	vertical-align: middle;
}

.sone-actions-container .sone-display-table-cell div {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
	transition: all .6s;
	line-height: 30px;
}

.sone-actions-container .sone-display-table-cell div i {
	line-height: 30px;
}

.sone-actions-container .sone-display-table-cell:first-child div {
	margin-right:5px;
}

.sone-actions-container .sone-display-table-cell:last-child div {
	margin-left:5px;
}

.sone-notification-container:hover .sone-actions-container {
	opacity:1;	
}

.sone-notification-container .sone-modal-text {
	height: auto;
	overflow-x: auto;
}

.sone-notification-counter {
	width:18px; 
	height:18px;
	position: absolute; 
	right:0px; 
	border-radius: 100%; 
	top:0px;
	line-height:18px;
	display:none;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	margin-right:0px;
	font-family:arial;
	margin-top:3px;
}

.sone-notify-modal {
	z-index:99 !important;
	border-radius: 5px;
}

.sone-notify-modal .x-panel-body {
	padding:10px;
}

.sone-display-table {
	display:table;
	table-layout: fixed;
	width: 100%;
	height: auto;
}


.sone-display-table-cell {
	display: table-cell;
}

.sone-modal-icon {
	width:40px;
	vertical-align: top;
}

.sone-notification-container .sone-modal-icon {
	width:30px;
}

.sone-modal-icon div {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.sone-notification-container .sone-modal-icon div {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.sone-notification-container .sone-modal-icon div i {
	line-height: 30px;
}

.sone-modal-icon div i {
	line-height: 40px;
}

.sone-modal-body {
	padding-left:10px;
	box-sizing: border-box;
}

.sone-modal-body .sone-modal-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.sone-modal-text {
	margin-top:7px;
	overflow-y: auto;
	height:60px;
	overflow-x: hidden;
}

.sone-no-overflow {
	overflow: hidden !important;
}

.sone-modal-time {
	width:80px;
	text-align:right;
}

/* Start wizard */

.sone-wizard-wrapper {
	width: 620px;
	height: 120px;
	padding:10px;
	position: relative;
	box-sizing: border-box;
}

.sone-wizard-line {
	height: 3px;
	position: absolute;
	top:0px;
	right:90px;
	bottom:0px;
	left:90px;
	margin: 46px auto auto auto;
	z-index: 9998;
}

.sone-wizard-step {
	z-index: 9999;
	position: absolute;
	width: 30%;
	min-height: 100px;
	transition: all .6s;
}

.sone-wizard-step.step-1 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto 0px;
}

.sone-wizard-step.step-2 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto;
}

.sone-wizard-step.step-3 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto 0px auto auto;
}

.sone-step-body {
	position: relative;
	width: 100%;
	height: 100%;
}

.sone-step-box {
	position: absolute;
	top:8px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto;
	text-align: center;
}

.sone-step-indicator {
	width: 40px;
	height: 40px;
	margin: 20px auto 5px auto;
	border-radius: 100%;
}


.sone-wizard-step {
	z-index: 9999;
	position: absolute;
	width: 30%;
	min-height: 100px;
	transition: all .6s;
}

.sone-wizard-step.step-1 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto 0px;
}

.sone-wizard-step.step-2 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto;
}

.sone-wizard-step.step-3 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto 0px auto auto;
}

.sone-step-body {
	position: relative;
	width: 100%;
	height: 100%;
}

.sone-step-box {
	position: absolute;
	top:8px;
	right: 0px;
	bottom: 0px;
	left:0px;
	margin: auto;
	text-align: center;
}

.sone-step-indicator {
	width: 40px;
	height: 40px;
	margin: 20px auto 5px auto;
	border-radius: 100%;
}

.sone-wizard-step.step-done .sone-step-indicator i {
	line-height: 40px;
}

.sone-wizard-step.step-pending .sone-step-indicator i {
	color: #BBBBBB;
}

.sone-step-label {
	width: 100%;
	text-align: center;
	padding: 0px 5px;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 16px;
	max-height: 48px;
}

/* End wizard */

/* Theme CSS customization */

.sone-subsidiary-info,
.sone-subsidiary-icon {
	display: table-cell;
	vertical-align: top;
}

.sone-subsidiary-icon {
	position: relative;
	width: 40px;
}

.sone-subsidiary-icon div {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	top:0px;
	left:0px;
}

.sone-subsidiary-icon div i {
	line-height: 30px;
}

.sone-subsidiary-box {
	display:block;
	width: 100%;
	margin-bottom:7px;
	padding:0px 8px 8px 0px;
	border:0px;
	background: transparent;
	transition: all .5s;
	position: relative;
	border-radius: 5px;
}

.sone-resale-marker {
	font-size:15px !important;
	cursor: pointer;
	transition: all .6s;
	opacity: .6;
}

.sone-resale-marker:hover {
	opacity: 1;
}

.sone-toolbar-avatar {
	width:30px; 
	height:30px;
	border-radius: 100%;
	position: relative;
}

.sone-toolbar-avatar-container {
	height: 42px !important;
	top: 0px !important;
	margin-left:7px !important;
}

.sone-toolbar-avatar-container .x-btn-inner {
	padding:0px;
}

.sone-logout-btn {
	position: absolute;
	width:25px;
	height: 25px;
	z-index:9999;
	top:10px;
	right:20px;
	z-index:9999;
	cursor:pointer;
}


.sone-subsidiary-hover {
	position: absolute;
	top:0px;
	bottom: 0px;
	right:0px;
	margin: auto;
	margin-right:-30px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	opacity: 0;
	transition: border-radius .3s, width .6s, margin .4s, opacity .4s, text-align .4s, padding .6s;
	text-align: center;
}

.sone-subsidiary-hover .fa {
	color: #FFFFFF;
}

.sone-subsidiary-box.inactive:hover .sone-subsidiary-hover {
	display: block;
	opacity: 1;
	margin-right:0px;
}


.sone-subsidiary-box:last-child {
	margin-bottom:0px;
}

.sone-subsidiary-box .x-btn-text {
	text-align: left;
	overflow-x: hidden;
}

.sone-subsidiary-box .x-btn-inner {
	font-size:14px;
}

.sone-subsidiary-name {
	display:block;
}

.sone-subsidiary-menu {
	max-height:300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sone-avatar {
	width:100%;
	height:130px;
	position:relative
}

.sone-avatar-holder {
	position: absolute;
	width: 130px;
	height: 130px;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin:auto;
	border-radius: 100%;
	z-index:9998;
	display: table;
}

.sone-avatar-controls {
	display:table-cell;
	width:130px;
	height:130px;
	opacity:0;
	border-radius: 100%;
	transition: all .4s;
	vertical-align: middle;
	text-align: center;
}

.sone-avatar-controls:hover {
	opacity:.5;
	cursor: pointer;
}

.sone-user-info {
	margin-top:15px !important;
	text-align: center;
	font-size: 14px;
}

.sone-user-name {
	font-weight: 600;
	text-transform: uppercase;
	font-size:14px;
	display:block;
	padding-top:5px;
}

.sone-user-body .x-panel-header {
	padding: 0px 30px !important;
	border-bottom:0px !important;
}

.sone-user-body .x-accordion-body {
	padding: 15px 30px !important;
	font-size: 14px;
}

.sone-user-body .x-panel-header .x-title-text {
	font-size: 22px !important;
	line-height: 40px !important;
	font-weight:100;
}

.sone-theme-menu li,
.sone-lang-menu li {
	display: block;
	text-align:left !important;
	border:0px;
	padding:16px 0px 0px 7px !important;
	
}

.sone-theme-menu li:first-child,
.sone-lang-menu li:first-child {
	padding-top:0px !important;
}

.sone-theme-menu,
.sone-lang-menu {
	margin:0px;
	padding:0px;
}

.sone-theme-menu li .x-btn-inner,
.sone-lang-menu li .x-btn-inner {
	width: 100%;
	text-align:left !important;
	transition: all .4s;
	font-size: 14px;
	padding-left:10px;
}

.sone-theme-menu li .x-btn-glyph,
.sone-lang-menu li .x-btn-glyph {
	opacity:1;
}

.sone-theme-clarity {
	width: 25px !important;
	border-radius: 2px;
	background: #7c88c0;
}

.sone-theme-skyblue {
	width: 25px !important;
	border-radius: 2px;
	background: #36a9d9;
}

.sone-theme-puma {
	width: 25px !important;
	border-radius: 2px;
}

.sone-theme-aqua {
	width: 25px !important;
	border-radius: 2px;
}

.sone-theme-gray {
	width: 25px !important;
	border-radius: 2px;
}

.sone-user-sidebar .x-panel-body-default {
	border:0px;
}

.sone-notification-sidebar .x-panel-body-default {
	border:0px;
}

.sone-lang-sys {
	width: 25px !important;
	border-radius: 2px;
}

.sone-lang-en {
	width: 25px !important;
	border-radius: 2px;
}

.sone-lang-de {
	width: 25px !important;
	border-radius: 2px;
}

.sone-lang-ro {
	width: 25px !important;
	border-radius: 2px;
}

.sone-password-container .x-panel-body {
	padding-top:5px !important;
	padding-left:0px;
}

.sone-password-container .x-toolbar {
	padding-left: 0px;
}

.sone-password-container .x-toolbar-footer {
	margin-top:15px;
	border:0px;
}

.sone-password-container .x-form-field {
	border:0px;
	outline-width: 0 !important;
	padding:6px !important;
}

.sone-password-container .x-form-item-label-default {
	font-size:14px;
	padding-bottom:7px;
}

.sone-toolbar .x-btn-glyph,
.sone-toolbar .x-btn-inner {
	opacity: 1 !important;
}

.sone-toolbar .x-btn-glyph {
	font-size: 23px !important;
  	line-height: 26px !important;
}

.sone-menu-user {
	margin-bottom:3px !important;
}

.sone-toolbar .x-btn-default-toolbar-small,
.sone-toolbar .x-btn-default-toolbar-medium,
.sone-toolbar .x-btn-focus.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn-focus.x-btn-pressed.x-btn-default-toolbar-medium,
.sone-toolbar .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn.x-btn-pressed.x-btn-default-toolbar-medium {
	border-width:0px;
}

.sone-toolbar .x-btn-inner-default-medium,
.sone-toolbar .x-btn-inner-default-toolbar-small,
.sone-toolbar .x-btn-inner-default-toolbar-medium {
	font-size:13px;
}

.x-tab-default-top.x-tab-focus {
    box-shadow: 0px !important;
}

.x-splitter {
	margin-bottom:10px !important;
	
}

.x-window .x-splitter {
	margin-bottom:0px !important;
	
}

.sone-toolbar .x-btn-focus {
	box-shadow:none !important;
}

.sone-right-sidebar {
	z-index:9999;
}

.sone-right-sidebar .x-btn {
	border:0px !important;
	margin-bottom:25px;
	
}

.sone-right-sidebar .x-btn:hover * {
	opacity:1;
	
}

.sone-right-sidebar .x-btn * {
	opacity:.8;
	transition: .4s;
}

.sone-right-sidebar .x-btn .x-btn-glyph {
	font-size:34px;
	margin-bottom:2px;
	line-height: normal;
	height: auto;
}

.sone-right-sidebar .x-btn .x-btn-inner {
	white-space: normal !important;
}

.sone-menu-client {
	line-height:13px;
}

.sone-menu .sone-menu-glyph {
	font-size:18px !important;
	opacity: 1 !important;
}

.sone-menu.x-panel-collapsed .sone-menu-glyph {
	opacity: .8 !important;
}

.sone-submenu .x-title-glyph {
	font-size:18px !important;
	opacity: .6 !important;
}

.sone-menu.x-panel-collapsed .x-accordion-hd {
	font-size:14px;
	border-left:0px !important;
}

.sone-menu .x-title-text {
	padding-left:5px;
	font-size:14px;
	line-height:normal;
}

.sone-submenu .x-accordion-hd {
	border-left:0px !important;
}

.sone-submenu .x-title-text {
	font-size:13px;
}

.sone-sidebar-menu {
	z-index: 99999 !important;
}

#dnet-application-view-body {
	margin-left:10px;
	margin-right:10px;
}

.view-filter-toolbar {
	padding-bottom:0px;
}

.x-toolbar-default {
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}

.x-boundlist .x-toolbar-default {
	padding:5px;
}

.x-window .x-toolbar-default {
	padding:5px;
}

.x-boundlist {
	min-width:270px !important;
}

.x-window .x-column-header.x-column-header-focus .x-column-header-inner::before {
	border:0px;
}

.sone-menu-user {
	margin-bottom:1px;
}

.sone-menu-create .x-btn-inner-default-toolbar-medium,
.sone-menu-profile-button .x-btn-inner-default-toolbar-medium {
	font-size:14px !important;
}

.sone-frame-title .x-btn-inner {
	font-size:22px !important;
	font-weight: 400 !important;
	line-height:normal !important;
}

.x-window-header-title-default {
	line-height: normal !important;
}

.sone-window-no-title .x-title {
	display:none;
}

.x-window-header {
	padding: 10px 10px !important;
}


/* Paging toolbar customization */

div[id^="pagingtoolbar"] .x-btn-default-toolbar-small,
div[id*="paging-toolbar"] .x-btn-default-toolbar-small {
	border-width:0px;
}

div[id^="pagingtoolbar"] .x-toolbar-item,
div[id*="paging-toolbar"] .x-toolbar-item {
    margin-right: 0px !important;
}

#n21-loading-logo-text,
#n21-loading-msg {
  display:none !important;
}

.x-form-readonly .x-form-text {
	opacity: .7;
}

.sone-filter-window .x-window-body {
	padding:10px !important;
}

.sone-filter-window .x-toolbar-docked-top {
	padding-left:0px !important;
	padding-right:0px !important;
}

/* Start form KPI customization */

.sone-kpi-panel table {
	position: absolute;
	right:0px;
}

.sone-kpi-panel .x-form-readonly .displayfield {
	opacity: .7;
}

.sone-kpi-panel .x-autocontainer-outerCt {
	width: auto  !important;
}

.sone-kpi-panel table td {
	padding-left:20px;
	padding-right:20px;
}

.sone-kpi-panel .x-container,
.sone-kpi-panel .x-container .x-field {
	width: auto !important;
}

.x-gecko .sone-kpi-panel .x-box-inner {
	height:100% !important;
}

.sone-kpi-panel .displayfield {
	white-space: nowrap !important;
} 

.sone-kpi-panel .x-form-item .x-form-item-label {
	font-family: "Open Sans", tahoma, arial, verdana, sans-serif;
	font-size: 11px;
	font-weight:400;
	text-transform:uppercase;
	white-space: nowrap;
}

.sone-kpi-panel .x-form-item-label-inner {
	padding-bottom:0px !important;	
}

.sone-kpi-panel .x-form-item .displayfield,
.sone-kpi-panel .x-form-item .displayfieldnumber {
	font-family: "Open Sans", tahoma, arial, verdana, sans-serif;
	font-size: 16px;
	font-weight:600;
}


/* Form title panel */

.sone-title-panel .x-form-item .x-form-item-label {
	font-family: "Open Sans", tahoma, arial, verdana, sans-serif;
	font-size: 18px;
	white-space: nowrap;
	font-weight: 600;
	width:auto !important;
}

.sone-title-panel .x-field-label-cell {
	
	width:auto !important;
	padding:2px 0px 5px 10px !important;
	display: inline-block;
	vertical-align:middle;
	
}

.sone-title-panel .x-form-item-label-inner {
	width:auto !important;
	padding:2px 0px 5px 0px !important;
}

.sone-title-panel .x-autocontainer-innerCt {
	vertical-align:middle !important;
}

.sone-title-panel .x-form-text {
	font-size:18px !important;
	line-height:normal !important;
	font-weight:600 !important;
}

.sone-title-panel .sone-flat-field .x-form-text {
	padding-left:2px;
	padding-right:27px;
	height:30px;
	padding-top:0px;
	padding-bottom:0px;
	line-height:normal;
}

.sone-title-panel .sone-large-flat-field .x-form-text {
	width:400px;
}

.sone-trigger-kpi .displayfield {
	padding:3px 0px 2px 0px;
	margin-top:-3px;
}

.sone-trigger-kpi:hover:after {
	content : "\f040";
	font-family: 'FontAwesome';
	position: absolute;
	margin-left:-18px;
}

.sone-trigger-kpi.x-form-readonly:hover:after {
	content : "";
}

.sone-title-panel .x-form-item-label-default {
	vertical-align:middle;
	padding-top:2px !important;
}

/* Editable KPI */

.sone-flat-kpi * {
	min-width: auto;
	max-width: auto;
}

.sone-flat-kpi .x-form-field,
.sone-flat-kpi .displayfield {
	white-space:nowrap;
	padding:0px;
	font-family: "Open Sans", tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    min-height: auto !important;
    padding:2px 0px 1px 0px;
    height: 21px;
}

/*
.sone-flat-kpi .displayfield {
    line-height: 30px !important;
}
*/

.sone-flat-kpi label span {
	margin-bottom:-3px;
}

.sone-flat-kpi .x-form-trigger-wrap-default {
	border:0px;
}

/* End form KPI customization */

/* Grid title panel customization */

.dnet-grid-panel .x-title {
	height: 25px !important;
}

.dnet-grid-panel .x-panel-header-title-default-framed *,
.dnet-grid-panel .x-panel-header-title *
 {
	font-size: 18px !important;
	font-weight:600 !important;	
	line-height: auto !important;
}

/* Custom checkbox for grid panels */

.sone-field-no-border .x-form-trigger-wrap-default {
	border:0px !important;
}


iframe {
	height: 100% !important;
	*width: 100% !important;
	min-height: 100% !important;
}


.x-html-editor-tb {
	padding-left:10px !important;
	padding-right:10px !important;
}

.x-html-editor-tb .x-font-select {
 
  padding: 1px !important;
}

.x-html-editor-tb .x-toolbar-item .x-mask {
	opacity:.3 !important;
}

/* SONE-1671: Framework: the tooltip length has to be increased. Now it seems to be up to 80 characters */

.x-tip,
.x-tip-body {
	height: auto !important;
}

.x-tip .x-autocontainer-outerCt {
	white-space: normal !important;
}

.x-table-form-item .x-table-form-item {
	margin-bottom:0px !important;
}

.x-table-layout-cell .x-form-item-label {
	white-space:nowrap;
	width:auto !important;
	overflow: initial !important;
}

.x-table-layout-cell .x-form-item-label-inner {
	width:auto !important;
	float:left;
}

.x-table-layout-cell {
	vertical-align:top;
}

.x-hidden-clip {
  display: none;
}

/* start */

.sone-docked-menu-toolbar {
	height: 42px !important;
	padding:0px !important;
}

.sone-docked-menu-toolbar .x-autocontainer-outerCt,
.sone-docked-menu-toolbar .x-autocontainer-outerCt .x-panel-body,
.sone-docked-menu-toolbar .x-autocontainer-innerCt {
	height: 42px !important;
}

.sone-docked-menu-toolbar .x-btn-glyph, .sone-docked-menu-toolbar .x-btn-inner {
    opacity: 1;
}

.sone-docked-menu-toolbar .x-btn {
	top:7px !important;
}

.sone-docked-accordion-menus {
	margin-top: -17px !important;
}

.sone-docked-menu-tooltip {
    padding: 7px 10px !important;
    border-radius: 5px;
    border:0px;
    z-index:19999 !important;
}

.sone-docked-item {
	background: transparent;
	border:0px;
}

.sone-docked-item .x-btn-text {
	text-align: left;
	padding: 5px 10px 5px 10px;
}

.sone-docked-child-item .x-btn-text {
	padding: 5px 20px 5px 20px;
}

.sone-docked-second-child-item .x-btn-text {
	padding: 5px 30px 5px 30px;
}

.sone-docked-third-child-item .x-btn-text {
	padding: 5px 40px 5px 40px;
}

.sone-docked-menu-tooltip .x-tip-body-default {
    opacity: .8;
}

.sone-docked-menu-tooltip .x-tip-anchor {
	display:none;
}

.sone-docked-menu .x-tool {
	display:none;
}

.sone-docked-accordion-menus .x-title-text {
	display:none;
}

.x-docked {
    position: absolute!important;
    z-index: initial;
}

.sone-docked-accordion-menus .sone-menu.x-panel-collapsed .sone-menu-glyph,
.sone-docked-accordion-menus .sone-menu-glyph {
	opacity: 1 !important;
}

.sone-docked-accordion-menus .sone-submenu .x-title-glyph {
	opacity: 1 !important;
}

.sone-docked-accordion-menus .sone-submenu .x-title {
	padding-left: 0px !important;
}

.sone-docked-accordion-menus .sone-menu .sone-menu-glyph {
	font-size:22px !important;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:3px;
}

/* Start new docked menu */

.sone-button-menu {
	height:37px;
	width:50px;
	border:0px;
}

.sone-button-menu .x-btn-glyph {
	font-size:20px !important;
	opacity: 1 !important;
}

.sone-button-menu .x-btn-inner {
	display: none;
	margin-top:2px;
	color: #555;
}

.sone-button-menu.sone-button-menu-text .x-btn-inner {
	display: inline-block;
}

.sone-button-menu .x-btn-icon-el-default-small {
	width: 33px !important;
}

.sone-docked-menu {
	transition: all .3s;
}

.sone-application-title {
	font-size: 18px;
	font-weight:600;
}

/* End new docked menu */

/* ##################### */
/* End general CSS rules */
/* ##################### */


@media screen and (max-width:1600px) {
	
	.dashboard-row.col-4 > div:nth-child(2n) {
		padding-right:0px;
	}
	
	.dashboard-row.col-4 > div {
		width: 50%;
	}
}

@media screen and (max-width:850px) {
	
	.dashboard-row.col-4 > div:nth-child(2n+1) {
		padding-right:0px;
	}

	.dashboard-row.col-4 > div {
		width: 100%;
	}
}


