.x-android-3 .x-surface-wrap,
.x-android-3 .x-surface-wrap > * {
    -webkit-perspective: 1
}
.x-draw-container {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default
}
.x-draw-container .x-inner {
    overflow: hidden
}
.x-surface-canvas {
    position: absolute
}
.x-chart-watermark {
    opacity: 0.5;
    z-index: 9;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px 6px;
    font-family: "Helvetica";
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px
}
.x-chart-image {
    width: 100%;
    height: auto
}
.x-legend-container {
    display: inline-block;
    line-height: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: white;
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
    box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px
}
.x-legend-item {
    padding: 0.8em 1em 0.8em 1.8em;
    color: #333333;
    background: transparent;
    max-width: 16em;
    min-width: 0;
    line-height: 13px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
}
.x-legend-inactive {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3
}
.x-legend-item-marker {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    left: .7em;
    top: 0px;
    bottom:0px;
    margin:auto 0px;
}
.x-rtl > * > .x-legend-item {
    padding: 0.8em 1.8em 0.8em 1em
}
.x-rtl > * > * > .x-legend-item-marker {
    right: .7em
}
.x-legend,
.x-legend-panel {
    
    outline: none
}
.x-legend.x-docked-top .x-legend-item,
.x-legend.x-docked-bottom .x-legend-item,
.x-legend-panel.x-docked-top .x-legend-item,
.x-legend-panel.x-docked-bottom .x-legend-item {
    border-left: 1px solid rgba(204, 204, 204, 0.5)
}
.x-legend.x-docked-top .x-legend-item:first-child,
.x-legend.x-docked-bottom .x-legend-item:first-child,
.x-legend-panel.x-docked-top .x-legend-item:first-child,
.x-legend-panel.x-docked-bottom .x-legend-item:first-child {
    border-left: none
}
.x-legend.x-docked-top.x-rtl .x-legend-item:first-child,
.x-legend.x-docked-bottom.x-rtl .x-legend-item:first-child,
.x-legend-panel.x-docked-top.x-rtl .x-legend-item:first-child,
.x-legend-panel.x-docked-bottom.x-rtl .x-legend-item:first-child {
    border-left: 1px solid rgba(204, 204, 204, 0.5)
}
.x-legend.x-docked-top.x-rtl .x-legend-item:last-child,
.x-legend.x-docked-bottom.x-rtl .x-legend-item:last-child,
.x-legend-panel.x-docked-top.x-rtl .x-legend-item:last-child,
.x-legend-panel.x-docked-bottom.x-rtl .x-legend-item:last-child {
    border-left: none
}
.x-legend.x-docked-left .x-legend-item,
.x-legend.x-docked-right .x-legend-item,
.x-legend-panel.x-docked-left .x-legend-item,
.x-legend-panel.x-docked-right .x-legend-item {
    border-top: 1px solid rgba(204, 204, 204, 0.5)
}
.x-legend.x-docked-left .x-legend-item:first-child,
.x-legend.x-docked-right .x-legend-item:first-child,
.x-legend-panel.x-docked-left .x-legend-item:first-child,
.x-legend-panel.x-docked-right .x-legend-item:first-child {
    border-top: none
}
.x-legend.x-docked-left .x-legend-inner,
.x-legend.x-docked-right .x-legend-inner,
.x-legend-panel.x-docked-left .x-legend-inner,
.x-legend-panel.x-docked-right .x-legend-inner {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}
.x-legend.x-horizontal {
    white-space: nowrap
}
.x-legend.x-horizontal .x-legend-item {
    display: inline-block
}
.x-chart-toolbar {
    position: absolute;
    z-index: 9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    padding: .6em
}
.x-chart-toolbar .x-button {
    margin: .2em
}
.x-chart-toolbar[data-side=left],
.x-chart-toolbar[data-side=right] {
    top: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical
}
.x-chart-toolbar[data-side=left] {
    left: 0
}
.x-chart-toolbar[data-side=right] {
    right: 0
}
.x-chart-toolbar[data-side=top],
.x-chart-toolbar[data-side=bottom] {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    right: 0
}
.x-chart-toolbar[data-side=top] {
    top: 0
}
.x-chart-toolbar[data-side=bottom] {
    bottom: 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal
}