.icon-action-fetch {
background:url('icons/action_fetch.png') no-repeat center center;
}

.icon-action-edit {
background:url('icons/action_edit.png') no-repeat center center;
}

.icon-action-open {
	background:url('icons/icon-open.png') no-repeat center center;
}

.icon-action-view {
background:url('icons/action_search.gif') no-repeat center center;
}

.icon-action-new {
background:url('icons/action_search.gif') no-repeat center center;
}

.icon-action-delete {
background:url('icons/action_delete.gif') no-repeat center center;
}

/* Start missing icons */

.icon-action-menu-btn-more {
background:url('icons/action_search.gif') no-repeat center center;
}

.icon-action-reset {
background:url('icons/action_reset.gif') no-repeat center center;
}

.icon-action-close {
background:url('icons/action_close.gif') no-repeat center center;
}

.icon-action-cancel {
background:url('icons/action_cancel.gif') no-repeat center center;
}

.icon-action-negotiate {
background:url('icons/action_negotiate.gif') no-repeat center center;
}

.icon-action-submit {
background:url('icons/action_submit.gif') no-repeat center center;
}

.icon-action-approve, .icon-action-submit {
background:url('icons/icon-approve.png') no-repeat center center;
}

.icon-action-recheck {
background:url('icons/icon-recheck.png') no-repeat center center;
}

.icon-action-reject {
background:url('icons/icon-reject.png') no-repeat center center;
}

/* End missing icons */

.icon-action-save {
background:url('icons/action_save.gif') no-repeat center center;
}

.icon-action-saveAll {
background:url('icons/action_saveAll.gif') no-repeat center center;
}

.icon-action-copy {
background:url('icons/g_rec_assign.png') no-repeat center center;
}

.icon-action-next {
background:url('icons/f_rec_next.gif') no-repeat center center;
}

.icon-action-previous {
background:url('icons/f_rec_prev.gif') no-repeat center center;
}

.icon-action-refresh {
background:url('icons/action_refresh.gif') no-repeat center center;
}

.icon-action-rollback {
background:url('icons/f_rollback.png') no-repeat center center;
}

.icon-action-rollback-selected {
background:url('icons/f_rollback.png') no-repeat center center;
}

.icon-action-back {
background:url('icons/f_back.png') no-repeat center center;
}

.icon-action-reset {
background:url('icons/action_reset.gif') no-repeat center center;
}

.icon-action-run {
background:url('icons/action_run.gif') no-repeat center center;
}

.icon-gears {
background:url('icons/action_generate.png') no-repeat center center;
}

.icon-action-import {

}

.icon-action-export {

}

.icon-action-synchronize {
background:url('icons/action_synchronize.gif') no-repeat center center;
}

.icon-action-commit {
background:url('icons/g_rec_commit.png') no-repeat center center;
}

.icon-action-help {
background:url('icons/action_help.png') no-repeat center center;
}





