/* line 35, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-east,
.x-resizable-pinned .x-resizable-handle-west {
  background-position: center; }
/* line 40, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-south,
.x-resizable-pinned .x-resizable-handle-north {
  background-position: center; }
/* line 44, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-southeast {
  background-position: -2px -2px; }
/* line 48, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-northwest {
  background-position: 2px 2px; }
/* line 52, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-northeast {
  background-position: -2px 2px; }
/* line 56, ../../../ext-theme-neptune/sass/src/resizer/Resizer.scss */
.x-resizable-pinned .x-resizable-handle-southwest {
  background-position: 2px -2px; }